@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<nav id="navbar-top">
        <nav class="navbar-container">
            <div id="logo">
                <img src="~/images/home/logo.svg" alt="">
            </div>
            <ul class="navbar-pages">
                <li><a href="/">Home</a> </li>
                <li><a href="/Contacts">Contacts</a> </li>
            </ul>
            <div class="navbar-extra">
                <img src="~/images/home/icon.svg" alt="">
            </div>
        </nav>
</nav>
